################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DyApp.Infrastructure/bin
/DyApp.Infrastructure/obj/Debug
/DyApp.Infrastructure/obj/Release
/DYApp.WechatService/bin/Debug
/DYApp.WechatService/obj
/DYApp.WeMessage/bin
/DYApp.WeMessage/obj
/packages
/WeChat/bin
/WeChat/obj
/WeChat.WebApi/bin
/WeChat.WebApi/obj/Debug
